site | Domain-specific search
site:*.example.com | Subdomain-specific search
filetype:pdf | PDF files
filetype:doc | Word documents
filetype:xls | Excel spreadsheets
filetype:txt | Text files
inurl:login.php | Login pages
intitle:"login page" | Pages with 'login page' in title
intext:"username" intext:"password" | Pages containing 'username' and 'password'
inurl:intitle:"index of /" | Directories listing files
inurl:intitle:"index of /backup" | Backup directories
inurl:intitle:"index of /config" | Configuration files
inurl:intitle:"phpinfo()" | PHP configuration details
inurl:intitle:"Welcome to phpMyAdmin" | phpMyAdmin installations
inurl:intitle:"Welcome to OpenSSH" | OpenSSH installations
(inurl:intitle:"Error Occurred" OR intitle:"Server Error") | Pages with error messages
inurl:intext:"MySQL error" | MySQL error messages
inurl:intitle:"Welcome to nginx" | nginx web server installations
inurl:intitle:"Apache2 Ubuntu Default Page" | Default Apache pages on Ubuntu
inurl:intitle:"Index of" intext:"Served by Serv-U" | Serv-U FTP servers
inurl:intitle:"Webcam Live Image" | Webcams broadcasting live images
inurl:intitle:"Network Camera NetworkCamera" | Network cameras
inurl:intitle:"Live View / - AXIS" | AXIS network cameras
intext:"SSN" | Sensitive terms: SSN
intext:"Confidential" | Sensitive terms: Confidential
intext:"Top secret" | Sensitive terms: Top secret
intext:"Secret" | Sensitive terms: Secret
intext:"Internal use only" | Sensitive terms: Internal use only
intext:"Proprietary" | Sensitive terms: Proprietary
intext:"Privileged use" | Sensitive terms: Privileged use
intext:"Not for public distribution" | Sensitive terms: Not for public distribution
filetype:asp | File Types: asp
filetype:aspx | File Types: aspx
filetype:asmx | File Types: asmx
filetype:ashx | File Types: ashx
filetype:ascx | File Types: ascx
filetype:svc | File Types: svc
filetype:cfm | File Types: cfm
filetype:shtml | File Types: shtml
filetype:jsp | File Types: jsp
filetype:java | File Types: java
filetype:do | File Types: do
filetype:action | File Types: action
filetype:jspx | File Types: jspx
filetype:jsf | File Types: jsf
filetype:jpf | File Types: jpf
filetype:jnlp | File Types: jnlp
filetype:fcc | File Types: fcc
filetype:nsf | File Types: nsf
filetype:cgi | File Types: cgi
filetype:py | File Types: py
filetype:pl | File Types: pl
filetype:rb | File Types: rb
filetype:exe | File Types: exe
filetype:xml | File Types: xml
filetype:cfg | File Types: cfg
filetype:config | File Types: config
filetype:properties | File Types: properties
filetype:ini | File Types: ini
filetype:sh | File Types: sh
filetype:inc | File Types: inc
filetype:php | File Types: php
filetype:php2 | File Types: php2
filetype:php3 | File Types: php3
filetype:trace.axd | File Types: trace.axd
filetype:elmah.axd | File Types: elmah.axd
intitle:"index of" "parent" | Search parameter for index of parent

